.mi{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
body{
    background-repeat: repeat;
}
body>a{
    text-decoration: none;
    font-size: 20px;
    font-family: cursive;
}
body>a:hover{
    color: darkorange;
    text-transform: capitalize;
}
.mapouter{
    float: right;
    padding-top: 120px;
    margin: 1.6%;
}