header{
    text-align: center;
    font-size: 200%;
    font-family: cursive;
    border-bottom: solid 3px  black;
    padding-bottom: 2px;
}
header p{
    margin-top: 40px;
    text-transform: uppercase;
}
img{
    width: 30%;
    float: right;
    padding-top: 10px ;
    margin: 1.6% ;
}